@font-face {
    font-family: 'The Hashtag';
    src: url('https://cdn.jsdelivr.net/gh/thompat38/font@main/The-Hashtag.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/thompat38/font@main/The-Hashtag.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
